<div id="<%= dom_id brew %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= brew.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= brew.state %>
  </div>
</div>
